# general
pretty-errors>=1.2.25
colorama>=0.4.6

# media
playsound==1.2.2
pytube==15.0.0
moviepy==1.0.3
python-vlc==3.0.20123

# system
pywin32>=306
psutil>=5.9.8
pyserial>=3.5
pyreadline3>=3.4.1

# networking
requests>=2.31.0
beautifulsoup4>=4.12.3

# etc
anipy-cli>=2.7.31
windows-curses>=2.3.3
